[jio-domain="joola"] {
  font-family: Signika, helvetica, arial, sans-serif;
}

[jio-domain="joola"] .clearfix {
  clear: both;
}

[jio-domain="joola"] .btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

[jio-domain="joola"] .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

[jio-domain="joola"] .btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
}

[jio-domain="joola"] .btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

[jio-domain="joola"] .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

[jio-domain="joola"] .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

[jio-domain="joola"] .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-image: none;
}

[jio-domain="joola"] .btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}

[jio-domain="joola"] .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

[jio-domain="joola"] .btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

[jio-domain="joola"] .btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0;
}

[jio-domain="joola"] .btn-group > .btn:first-child {
  margin-left: 0;
}

[jio-domain="joola"] .btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

[jio-domain="joola"] .unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

[jio-domain="joola"] .line-separator {
  height: 1px;
}

[jio-domain="joola"] .chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  transform: rotate(-45deg);
  width: 0.45em;
}

[jio-domain="joola"] .chevron.right:before {
  left: -0.15em;
  transform: rotate(45deg);
}

[jio-domain="joola"] .chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

[jio-domain="joola"] .chevron.left:before {
  transform: rotate(-135deg);
}

[jio-domain="joola"] span.icon-help {
  position: relative;
  display: inline;
}

[jio-domain="joola"] span.icon-help span {
  position: absolute;
  width: 150px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;

  padding-left: 5px;
  padding-right: 5px;

  font-size: 12px;
}

[jio-domain="joola"] span.icon-help span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 48%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

[jio-domain="joola"] span:hover.icon-help span {
  visibility: visible;
  opacity: 0.8;
  top: 30px;
  left: 48%;
  margin-left: -76px;
  z-index: 999;
}