
[jio-type="bartable"] .table {
  margin-bottom: 10px;
  width: 100%;
}

[jio-type="bartable"] .table tr {
  vertical-align: top;
}

[jio-type="bartable"] .table td {
  padding-top: 8px;
  padding-bottom: 5px;
}

[jio-type="bartable"] .table tr:first-of-type td {
  text-overflow: ellipsis;
  padding-top: 5px;
  padding-bottom: 5px;

  white-space: nowrap;
  overflow: hidden;
  min-width: 100px;
}

[jio-type="bartable"] .table td .caption {
  text-overflow: ellipsis;
  line-height: 17px;
  color: #666;
  font-weight: 500;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden
}

[jio-type="bartable"] .table td .subcaption {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 2px;
}

[jio-type="bartable"] .table.table-striped tbody > tr:nth-child(even) > td {
  background-color: white;
}

[jio-type="bartable"] .bartable-caption {
  line-height: 1.2857142857em;
  margin: 20px 0 20px;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  color: #333;
  text-align: center;
}

[jio-type="bartable"] .nodata, [jio-type="bartable"] .loading {
  text-align: center;
}

[jio-type="bartable"] .barwrapper {
  float: left;
  width: 95%;
}

[jio-type="bartable"] .barwrapper.compare .tablebar {
  height: 15px;
}

[jio-type="bartable"] .barwrapper.compare .tablebar.compare_ratio {
  margin-top: 1px;
}

[jio-type="bartable"] .tablebar {
  background-color: rgb(5, 141, 199);
  float: left;
  height: 30px;
}

[jio-type="bartable"] tr[data-selectable="true"] td {
  cursor: pointer;
}

[jio-type="bartable"] tr[data-selectable="true"]:hover {
  background-color: #efefef;
}

[jio-type="bartable"] tr[data-selectable="true"].active td {
  background-color: #efefef;
}
