
[jio-type="datepicker"] {
  /*margin-top: -5px;*/
  float: right;
}

[jio-type="datepicker"] a {
  color: #428bca;
  text-decoration: none;
}

[jio-type="datepicker"] .jcontainer {
  background-color: white;
  border: 1px solid #CCC;
  cursor: pointer;
  position: relative;
  z-index: 19;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

[jio-type="datepicker"] .jcontainer:hover {
  border: 1px solid #CCC;
}

[jio-type="datepicker"] .expanded {
  border: 1px solid #CCC;
  border-bottom: 1px solid white;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
}

[jio-type="datepicker"] .picker.compare {
  margin-top: 17px;
}

[jio-type="datepicker"] .datetable {
  border-collapse: collapse;
}

[jio-type="datepicker"] .datetable .dates {
  padding: 5px;
  text-align: left;
}

[jio-type="datepicker"] .datetable .dates .datelabel {
  color: #1C2E3D;
}

[jio-type="datepicker"] .datetable .dates .compare {
  color: #999;
  font-size: 13px;
}

[jio-type="datepicker"] .datetable .dates .compare .datelabel.fromdate, [jio-type="datepicker"] .datetable .dates .compare .datelabel.todate {
  font-size: 13px;
  color: #333;
}

[jio-type="datepicker"] .datebox .dropdownmarker-wrapper {
  width: 25px;
  background-color: #f5f5f5;
}

[jio-type="datepicker"] .datetable .dropdownmarker {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 5px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: inherit;
}

[jio-type="datepicker"].compare .datetable .dropdownmarker {
  top: 20px;
}

[jio-type="datepicker"] .datebox.expanded .datetable .dropdownmarker {
  top: 5px;

  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: inherit;
}

[jio-type="datepicker"].compare .datebox.expanded .datetable .dropdownmarker {
  top: 13px;
}

[jio-type="datepicker"] .picker {
  position: absolute;
  background-color: #F7F7F7;
  border: 1px solid #CCC;
  margin-left: 1px;
  margin-top: -1px;
  padding: 10px;
  white-space: nowrap;
  z-index: 1000;
  border-radius: 5px 0 5px 5px;
  -moz-border-radius: 5px 0 5px 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;

  /*right: 0px;*/
}

[jio-type="datepicker"] .picker .wrapper .control {
  padding: 0 10px;
  white-space: nowrap;
  vertical-align: top;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer {
  display: block;
  clear: both;
  padding: 5px;

  font-size: 16px;
  line-height: 20px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .customdate {

  font-weight: bold;
  margin-bottom: 3px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .customdate select {
  border: #9A9A9A solid 1px;
  background-color: white;
  color: black;
  /*font-size: 100%;*/
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .customdate select.selector {
  width: auto;
  height: auto;
  padding: 1px;
  margin-bottom: 5px;
  margin-left: 6px;

  width: 120px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption span {
  top: -2px;
  position: relative;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .daterange .dateoption {
  border: #ccc solid 1px;
  cursor: pointer;

  width: 6.5em;
  line-height: 20px;

  padding: 2px;
  padding-left: 5px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;

  font-size: 16px;
  font-family: Signika, helvetica, arial, sans-serif;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .daterange .dateoption.active {
  border: #07C solid 3px;
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .comparerange .dateoption.active {
  border: #86BE2B solid 3px;

  margin-bottom: 4px;
  margin-left: 2px;
  margin-right: 2px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .daterange .dateoption.invalid {
  border: #B00 solid 3px;

  margin-bottom: 4px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption {
  padding: 3px;
  white-space: nowrap;
  padding-right: 22px;
  display: none;
  margin-bottom: 3px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption .checker {
  /*vertical-align: bottom;*/
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption.visible {
  display: block;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .divider {
  border-top: #666 dotted 1px;
  margin-top: 3px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .buttons {
  padding-top: 15px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .apply {
  margin-top: -15px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .cancel {
  text-decoration: underline;
  color: #24B;
  cursor: pointer;

  padding-left: 10px;
}

[jio-type="datepicker"] .picker .wrapper .calendars {
  white-space: nowrap;
  margin: 2px;

  width: 405px;
}

[jio-type="datepicker"] .picker .wrapper .calendars table {
  border-collapse: collapse;

}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev, [jio-type="datepicker"] .picker .wrapper .calendars .datetable-next {
  vertical-align: top;
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div, [jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div {
  border: #CCC solid 1px;
  background-color: #DDD;
  cursor: pointer;
  /*padding: 3px 5px;*/
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div {
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div div.inline-block, [jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div div.inline-block {
  height: 9px;
  padding: 0;
  width: 4px;

}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div div.inline-block {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 5px solid;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;

  margin-right: 6px;
  margin-top: -5px;
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div div.inline-block {
  display: block;
  width: 0;
  height: 0;
  content: "";
  border: 5px solid;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;

  margin-left: 6px;
  margin-top: -5px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer input,
[jio-type="datepicker"] .picker .wrapper .control .optionscontainer textarea {

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: none; /*border linear 0.1s, box-shadow linear 0.1s;*/
  -moz-transition: border linear 0.1s, box-shadow linear 0.1s;
  -ms-transition: border linear 0.1s, box-shadow linear 0.1s;
  -o-transition: border linear 0.1s, box-shadow linear 0.1s;
  transition: border linear 0.1s, box-shadow linear 0.1s;

}

[jio-type="datepicker"] .picker .wrapper .calendars .ui-datepicker-prev, [jio-type="datepicker"] .picker .wrapper .calendars .ui-datepicker-next {
  display: none;
}

[jio-type="datepicker"] .ui-datepicker-calendar td {

  border-bottom: #F7F7F7 solid 1px;
  border-right: #F7F7F7 solid 1px;
  background-color: white;
}

[jio-type="datepicker"] .ui-datepicker-title {
  text-align: center;
  background-color: #DDD;
  font-size: 85%;
  color: #07C;
  cursor: default;
  border-bottom: #CCC solid 1px;

  height: 18px;
}

[jio-type="datepicker"] .daycell {
  text-align: center;
  padding: 2px 3px;
  vertical-align: middle;
  font-size: 72%;

  cursor: pointer;
}

[jio-type="datepicker"] .daycell a {
  text-decoration: none;
}

[jio-type="datepicker"] .daycell:hover {
  background-color: #FC3;
}

[jio-type="datepicker"] .daycell.disabled, [jio-type="datepicker"] .daycell.ui-state-disabled {
  cursor: default;

  color: #DDD;
  font-weight: normal;
  background-color: white;
}

[jio-type="datepicker"] .daycell.inrange {
  background-color: #07C;
}

[jio-type="datepicker"] .daycell.inrange:hover {
  background-color: #FC3;
}

[jio-type="datepicker"] .daycell.inrange a {
  color: white;
}

[jio-type="datepicker"] .daycell.compare.disabled {
  cursor: default;

  color: #DDD;
  font-weight: normal;
  background-color: white;
}

[jio-type="datepicker"] .daycell.compare.inrange {
  background-color: #86BE2B;
}

[jio-type="datepicker"] .daycell.basencompare.inrange {
  background-color: #00B1AB;;
}

[jio-type="datepicker"] .daycell.compare.inrange:hover {
  background-color: #FC3;
}

[jio-type="datepicker"] .ui-datepicker-calendar th {
  text-align: center;
  padding: 2px 3px;
  vertical-align: middle;
  font-size: 80%;
  border-bottom: #F7F7F7 solid 1px;
  border-right: #F7F7F7 solid 1px;
  background-color: white;

  cursor: default;

  border-bottom: #CCC solid 1px;
}

[jio-type="datepicker"] .jcontainer {
  background: none;
}

[jio-type="datepicker"] select {
  display: inline-block;
  float: none;
  height: auto;
  margin-top: auto;
  width: auto;
}

[jio-type="datepicker"] .daterange {
  padding-left: 0 !important;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption .checker {
  top: 4px;
  margin-left: 0;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .compareoption {
  font-weight: 300;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .customdate {
  font-weight: 300;
}

[jio-type="datepicker"] .daycell {
  font-size: 11px;
  font-weight: 300;
  line-height: 22px;
}

[jio-type="datepicker"] .daycell a {
  color: #0088cc;
  border-bottom: 0;
}

.ui-datepicker-calendar th {
  font-weight: 600;
  line-height: 22px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .apply {
  margin-top: -5px;

  font-family: Signika, helvetica, arial, sans-serif;

  background-color: #6d6d6d;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #6d6d6d), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(top, #6d6d6d, #1a1a1a);
  background-image: -moz-linear-gradient(to bottom, #6d6d6d, #1a1a1a);
  background-image: -o-linear-gradient(top, #6d6d6d, #1a1a1a);
  background-image: linear-gradient(top, #6d6d6d, #1a1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#6d6d6d', EndColorStr='#1a1a1a');
  border: 1px solid #4c4c4c;
  border-bottom: 0;
  border-radius: 5px;
  color: #fff;
  text-shadow: 0 -1px 0 #272727;

  font-size: .875em;
  height: 28px;
  line-height: 26px;
  padding: 1px 10px;

  text-transform: uppercase;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .apply:hover {
  background-color: #7f7f7f;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #7f7f7f), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(top, #7f7f7f, #1a1a1a);
  background-image: -moz-linear-gradient(to bottom, #7f7f7f, #1a1a1a);
  background-image: -o-linear-gradient(top, #7f7f7f, #1a1a1a);
  background-image: linear-gradient(top, #7f7f7f, #1a1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#7f7f7f', EndColorStr='#1a1a1a');
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div, [jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div {
  padding-top: 14px;
  height: 28px;


  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[jio-type="datepicker"] .picker .wrapper .calendars .datetable-prev div div.inline-block, [jio-type="datepicker"] .picker .wrapper .calendars .datetable-next div div.inline-block {

}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .customdate {
  display: none;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .divider {
  display: none;
}

[jio-type="datepicker"] ._buttons {
  bottom: 15px;
  position: absolute;
  right: 25px;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer input, [jio-type="datepicker"] .picker .wrapper .control .optionscontainer textarea {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

[jio-type="datepicker"] .picker .wrapper .control .optionscontainer .daterange .dateoption.active {
  margin-left: 2px;
  margin-right: 2px;
}

[jio-type="datepicker"] .picker .wrapper .calendars {
  padding-top: 5px;
}

[jio-type="datepicker"] .ui-datepicker-title {
  height: 28px;
  color: #666;
  padding-bottom: 4px;
  padding-top: 7px;
  font-weight: 300;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
