[jio-type="metric"] {
  padding: 5px;
  margin: 0;
  float: none;
  border-top: 0;
  min-height: 0;
  text-align: center;
}

[jio-type="metric"] .caption {
  line-height: 1.2857142857em;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
  padding-top: 10px;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 0;
}

[jio-type="metric"] .value {
  color: #666;
  font-weight: 300;
  font-size: 32px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

[jio-type="metric"] .summary {
  color: #999;
}

[jio-type="metric"] .base {
  padding-right: 5px;
}

[jio-type="metric"] .compare {
  padding-left: 5px;
}