doctype 5
html.wf-ffmetaserifwebpro-n5-active.wf-ffmetaserifwebpro-n7-active.wf-ffmetawebpro-n4-active.wf-active(lang='en')
    head
        title joola.io.sdk
        link(rel='stylesheet', href='/assets/css/bootstrap.css')
        link(rel='stylesheet', href='/assets/css/bootstrap-responsive.css')
        link(rel='stylesheet', href='/assets/css/analytics-docs.css')
        link(rel='stylesheet', href='/assets/css/joolaio.css')
        link(rel='stylesheet', href='/assets/css/analytics-site.css')
        link(rel='stylesheet', href='//use.typekit.net/c/bc8202/ff-meta-serif-web-pro:n5:n7,ff-meta-web-pro:n4.VbN:M:2,VbQ:M:2,ZG3:M:2/d?3bb2a6e53c9684ffdc9a98f71b5b2a62cb9d8d23315479e38020fd548764770ca9789aa1f6c0a6101aa3d34c00b7b43374ea44fa98c775173130c33765a734fb1388a1f9d0daa8b6c3a1fd0a0c1e35945a75f186d9e30f4e2148b4095e6adf5eb1889274074f4ab98de3c28a6d10f6446d5840b7e951e3dff6c37a8c66f4968fee6cdeb4d7c7171cb90d2d4d329c7b2e3da0528d4ac03b8e0769dedcee168970a19ba07c2bfa48dba362af355f62f7f6c2f90d20923f6c1f37447cf5509c0835f190d75d6ead8cf4c466c3d11fb37e76861632')
        script(src='//use.typekit.net/rvl8eqz.js')
        script(src='/assets/js/jquery-1.7.2.min.js')
        script(src='/assets/js/jquery-ui.min.js')
        script(src='/assets/js/html5.js')
        script(src='/assets/js/bootstrap.min.js')
        script(src='/assets/js/prettify.js')
    body
